// helpers classes to override bootstrap classes its its removed
.text-danger {
  color: var(--red-9) !important;
}

.text-green {
  color: var(--green-9) !important;
}

.text-orange {
  color: var(--orange-9) !important;
}

.dividerv2 {
  border: 1px solid var(--app-divider-color);
  display: block;
}

.pb15 {
  padding-bottom: 15px!important;
}


.torrent___description img {
  display: inline-block!important;
}