/**
  * Created by PhpStorm.
 * User: Redeemerr
 * Date: 22/12/2022
 * Time: 22:11
 */

.chip {
  display: inline-flex;
  background-color: var(--app-chip-bg-color);
  color: var(--app-text-color--light);
  cursor: pointer;
  padding: 8px;
  border-radius: 25px;
  font-size: 12px !important;
  font-weight: bolder;

  > a {
    color: var(--app-text-color--light);
  }

  &.active {
    filter: brightness(1.4);
    border: 1px solid var(--app-divider-color);
  }

}

.chip__image {
  /*...*/
}
