:root {
  --auth-bg-color: rgba(0, 0, 0, .9);
}

html {
  background-color: var(--auth-bg-color);
}

h2 {
  font-size: .75rem;
}

h2.active, .underlineHover:hover {
  filter: brightness(1.2);
  color: #ffffff;
  border-bottom: 1px solid darkgoldenrod;
}

.underlineHover:after {
  content: '';
  height: 1px;
  background-color: darkgoldenrod;
}

.wrapper {
  animation: unset !important;
}

.fadeIn.first, .text, label {
  display: none;
  visibility: hidden;
}

#formContent {
  padding: 8px;
}

#formContent, #formFooter {
  background-color: unset;
  border-radius: unset;
  box-shadow: unset;
  border: unset;

}

.sitebanner {
  background: url("logo.png") no-repeat center center;
}

button, #login-button, {
  background-color: black;
  box-shadow: unset;
  border-radius: unset;
  margin: 5px 0;
  width: 100%;

  &:hover {
    background-color: #ffffff;
    color: black;
  }

}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: unset;
  padding: 8px 16px;
  text-align: left;
  width: 100%;

}

.checkbox > label {
  display: block;
  visibility: visible;
  text-align: left;
  color: #ffffff;
}