:root {
  --app-body-bg-color: rgba(0, 0, 0, 0.9);

  --app-border-light-color: hsl(0, 0%, 24%);
  --app-border-dark-1-color: hsl(0, 0%, 18%);

  --app-panel-header-bg-color: hsl(0, 0%, 20%);
  --app-panel-body-bg-color: hsl(0, 0%, 15%);

  --app-stripe-odd-color: hsl(0, 0%, 16%);


  --app-table-stripe-odd-color: hsl(0, 0%, 16%);
  --app-table-stripe-even-color: hsl(0, 0%, 13%);
  --app-table-success-bg-color: hsl(0, 2%, 11%);


  --app-button-dark-color: hsl(0, 0%, 26%);
  --app-button-light-color: hsl(0, 0%, 28%);


}

body {
  background-color: var(--app-body-bg-color);
}

a[href]:hover {
  filter: brightness(1.2) !important;
}

/* nav */
.top-nav {
  box-shadow: unset;
}

/* chat box */
#chatbody,
.wysibb,
.wysibb-text,
.panel-footer,
.col-md-10,
.col-sm-10,
.col-md-offset-1 {
  padding: unset !important;
}

#chatbody {
  border: 1px solid var(--app-border-light-color);
}

#frame {
  background-color: var(--app-panel-body-bg-color);
}

#frameTabs {
  border: 1px solid var(--app-border-dark-1-color);
}

#frameHeader {
  .btn, .btn-xs .btn-warning {
    border-width: unset !important;
    border-radius: unset !important;
  }
}

.chat-user-image {
  border: 1px solid var(--app-border-light-color) !important;
}

.sent {
  h4 {
    font-size: 14px;
    border-radius: unset;
  }

  div {
    font-size: 12px;
    border-radius: unset;
  }
}

/* panels */
.panel-chat, .panel-heading, .panel-success,
thead {
  background-color: var(--app-panel-header-bg-color) !important;
  border: 1px solid var(--app-border-light-color) !important;
}


.col-md-10, .col-sm-10, .col-md-offset-1, {
  padding: unset !important;
  border: 1px solid var(--app-border-light-color);
}

/* tabs */
.nav-tabs {
  background-color: var(--app-panel-body-bg-color);
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  background-color: var(--app-button-light-color) !important;
  border: 1px solid var(--app-border-dark-1-color) !important;

}

.nav-tabs > li > a, td, thead {
  background-color: var(--app-button-dark-color) !important;
  padding-inline: 8px !important;
  padding-block: 10px !important;
}

/* tables */
table {

  tbody {
    border: 1px solid var(--app-border-light-color) !important;
  }

  tr[class='success'] > td {
    background-color: var(--app-table-success-bg-color) !important;
  }


}

img.torrent-poster-img-small,
.torrent-poster > img, {
  border-radius: unset;
  box-shadow: unset !important;
  border: var(--app-border-light-color);
}

.badge-extra {
  border-radius: unset;
  border: 1px solid var(--app-button-light-color);
}

tr:nth-child(2n) {
  background-color: var(--app-table-stripe-even-color) !important;
}

tr:nth-child(2n+1) {
  background-color: var(--app-table-stripe-odd-color) !important;
}


.block td {
  background-color: transparent !important;
}
